input {
    outline: none;
    border: none;
}

img {
    vertical-align: middle;
}

.line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}